.center {
    margin: auto;
    width: 50%;
    text-align:center;
}

button {
    height: 5%;
    width: 80%;
    border: 0.1em;
    background: none;
    box-shadow: none;
    border-style: solid;
    color: blue;
    font-size: 1.8em; 
    margin-bottom: 3%;
}

p {
    font-size: 18px; 
}