.center {
    margin: auto;
    width: 100%;
    text-align:center;
}

button {
    height: 5%;
    width: 100%;
    border: 0.1em;
    font-size: 0.8em; 
    margin-bottom: 3%;
}

p {
    font-size: 18px; 
    margin-bottom: 0%;
}